<ion-view view-title="Dashboard">
    <ion-content class="padding"></ion-content>
    <ion-content class="padding" bestimg-container>
        <div class="row" style="height:1000px;border:1px solid black;"></div>
        <div class="row">
            <div class="col">
                <bestimg class="product1" img-src="img/regular/regular" img-sfx='.jpg'></bestimg>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <bestimg class="product1" img-src="img/regular/regular" img-sfx='.jpg' map="[[320, '320'],[512, '512']]"></bestimg>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <bestimg class="product1" img-src="img/anim1" img-sfx=".gif" map="[[9999,'9999']]"></bestimg>
            </div>
        </div>
    </ion-content>
</ion-view>
