.disable-user-behavior{
	background-color: #fff !important;
    border-top: solid 1px #c2c2c2 !important;
    box-shadow: 0 0 20px #c2c2c2 !important;
}

.input-text{
	margin-bottom: 20px;
}

.user-ion{
	width: 20px;
}

.button {
    font-size: 14px !important;
    color: #fff;
    background-color: #298784;
}

.btn-vcode {
    float: right;
    width: 95%;
    padding: 0px;
}

.button.activated{
	border-color: #298784 !important;
	background-color: #298784 !important;
	opacity: 0.6;
}

.btn-login{
	margin-top: 35px !important;
    letter-spacing: 8px;
}

.button-full, .button-full > .button {
    color: #fff!important;
    background-color: #298784;
    border-radius: 4px;
}

.button-clear.button-clear {
    color: #298784;
}

.btn-reg {
    float: right;
}

.con-reg .row {
    padding: 0px !important;
}

.con-reg .col {
    padding: 0px !important;
}

.con-reg .item-checkbox {
    border: none;
    font-size: 14px !important;
}

.btn-regist {
    margin-top: 20px !important;
    letter-spacing: 8px;
}

.b1 {
    color: #ea4040;
}

.checkbox-balanced input:checked+.checkbox-icon:before, .checkbox-balanced input:checked:before {
    background: #298784 !important;
    border-color: #298784 !important;
}