<ion-view title="商品列表" ng-controller="productListCtrl">
    <ion-content delegate-handle="productListScroll" ng-class="{fullIonContentScroll:true}" lazy-img-container>
        <my-go-top></my-go-top>
        <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
        <div class="row height100" ng-if="!hasData">
            <div class="col col-10"></div>
            <div class="col col-center noProductBox">
                <i class="icon ion-ios-close-outline"></i>
                <a class="noProductText">亲,没有找到您要的商品~</a>
                <a class="button button-balanced noProductBtn" ui-sref="home">去逛逛</a>
            </div>
            <div class="col col-10"></div>
        </div>
        <div ng-if="hasData" ng-class="{'productListStyle1':style.one,'productListStyle2':!style.one}">
            <div class="switchRow">
                <div class="product" ng-class-even="'product2'" ng-repeat="(i,product) in products track by product.code">
                    <div class="imagetextContainer">
                        <div class="image" ui-sref="product({id:product.code})">
                            <lazy-img lazy-src="{{product.images[0].url}}" alt="{{product.name}}" /></lazy-img>
                        </div>
                        <div class="text">
                            <p class="productTitle" ui-sref="product({id:product.code})">{{product.name}}</p>
                            <p class="productDesc" ng-show="style.one">{{product.summary}}</p>
                            <p class="productPrice price" ng-show='product.hasPromotion=false || product.promotionPrice==undefined'>
                                <span>{{product.price.formattedValue}}</span>
                            </p>
                            <p class="productPrice price" ng-show='product.hasPromotion=true && product.promotionPrice!=undefined'>
                                <span>{{product.promotionPrice.formattedValue}}</span>
                            </p>
                            <i class="favoriteBtn ion-android-favorite-outline assertive" ng-click="addFavorites(product.code,i)"></i>
                            <i class="ion-ios-cart assertive addCartBtn" ng-click="addCart(product.code)" my-fly-cart=".gocart" fly-src="{{product.images[0].url}}"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="noMore" ng-if="!moredata">亲,没有更多了哦！</div>
        <ion-infinite-scroll ng-if="moredata" immediate-check="false" on-infinite="loadMore()" distance="10"></ion-infinite-scroll>
    </ion-content>
    <my-loading></my-loading>
</ion-view>
