.productListType {
    position: relative;
    background-color: #f9f9f9;
    border-bottom: solid 1px #ddd;
}

.productListType * {
    line-height: 25px;
}

.productListType .button-bar a {
    padding: 0px;
    line-height: inherit;
    display: inline-table;
    min-height: inherit;
    font-size: 12px;
    min-width: 42px;
    text-align: center;
    border-radius: 2px;
    color: #000;
}

.productListType .button-bar a.active {
    color: #ef473a;
}

ion-view[ng-controller=productListCtrl] ion-content {
    margin-top: 37px;
}

.noProductBox {
    position: relative;
    width: 250px;
    height: 160px;
    /*border: 1px solid #000;*/
}

.noProductBox img {
    position: absolute;
    left: 70px;
    top: 10px;
    width: 40%;
}

.noProductText {
    color: #999999;
    position: absolute;
    left: 40px;
    top: 90px;
}

.noProductBtn {
    position: absolute;
    left: 75px;
    top: 120px;
    font-family: Microsoft Yahei;
    font-size: 18px;
}

.noMore {
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    margin: 10px 0px;
}

.productListStyle1 {
    /*  background: #eeeeee; */
    padding: 2px;
}

.productListStyle1 .switchRow {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.productListStyle1 .switchRow .product {
    max-width: 100%;
    margin-bottom: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.productListStyle1 .product .imagetextContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 1px;
    width: 100%;
}

.productListStyle1 .product .imagetextContainer .image {
    /*background: #ff0000;*/
    /*调试用*/
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.3333%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 33.3333%;
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    text-align: center;
    vertical-align: center;
}

.productListStyle1 .product .imagetextContainer .image img {
    max-width: 100%;
    display: block;
}

.productListStyle1 .product .imagetextContainer .text {
    position: relative;
    min-height: 100px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.6666%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 66.6666%;
    -ms-flex: 0 0 66.6666%;
    flex: 0 0 66.6666%;
    max-width: 66.6666%;
}

.productListStyle1 .product .imagetextContainer .text .productTitle {
    max-width: 100%;
}

.productListStyle1 .product .imagetextContainer .text .productDesc {
    max-width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    font-family: Microsoft Yahei;
    font-size: 12px;
    color: #444;
    padding: 0px 5px;
    position: absolute;
    bottom: 30px;
    margin-bottom: 0px !important;
}

.productListStyle1 .product .imagetextContainer .text .productPrice {
    max-width: 95%;
    height: 18px;
    overflow: hidden;
    margin: 10px 0 0 5px;
    font-family: Microsoft Yahei;
    color: #ee0000;
    position: absolute;
    bottom: 8px;
}

.productListStyle1 .product .imagetextContainer .text .productPrice span {
    font-size: 18px;
}


/*style1 end*/


/*style2 start*/

.productListStyle2 {
    /* background: #eeeeee; */
    padding: 2px;
}

.productListStyle2 .switchRow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 1px;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    width: 100%;
}

.productListStyle2 .switchRow .product {
    width: 49.5%;
    border: 0.5px solid #aaa;
    margin-bottom: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.productListStyle2 .switchRow .product2 {
    margin-left: 1%;
}

.productListStyle2 .product .imagetextContainer {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.productListStyle2 .product .imagetextContainer .image {
    /*background: #ff0000;*/
    /*调试用*/
    -webkit-box-flex: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    vertical-align: center;
}

.productListStyle2 .product .imagetextContainer .image img {
    max-width: 100%;
}

.productListStyle2 .product .imagetextContainer .text {
    /*background: #00ff00;*/
    /*调试用*/
    position: relative;
    height: 65px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.productListStyle2 .product .imagetextContainer .text .productTitle {
    max-width: 100%;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    margin: 0px;
    padding: 0px 5px;
    font-size: 12px;
    color: rgb(106, 106, 106) !important;
}

.productListStyle2 .product .imagetextContainer .text .productDesc {
    max-width: 95%;
    height: 18px;
    overflow: hidden;
    margin: 2px 0 0 2px;
    font-family: Microsoft Yahei;
    font-size: 12px;
    color: #444;
}

.productListStyle2 .product .imagetextContainer .text .productPrice {
    max-width: 95%;
    height: 18px;
    overflow: hidden;
    margin: 2px 0 0 5px;
    font-family: Microsoft Yahei;
    font-size: 12px;
    color: #ee0000;
}

.productListStyle2 .product .imagetextContainer .text .productPrice span {
    font-size: 16px;
}
