/*bootstrap兼容*/

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.text-left {
    text-align: left;
}

.pull-left {
    float: left!important;
}

.pull-right {
    float: right!important;
}

/*bootstrap兼容结束*/

.noPadding {
    padding: 0!important;
}

a,
a:link {
    text-decoration: none;
    color: #000;
}

.height100 {
    height: 100%;
}

.fullIonContentScroll div.scroll {
    height: 100%;
}


/*loading样式开始*/

@-webkit-keyframes pound {
    50% {
        transform: scale(1.4);
    }
    to {
        transform: scale(1);
    }
}

@-moz-keyframes pound {
    50% {
        transform: scale(1.4);
    }
    to {
        transform: scale(1);
    }
}

@-ms-keyframes pound {
    50% {
        transform: scale(1.4);
    }
    to {
        transform: scale(1);
    }
}

@-o-keyframes pound {
    50% {
        transform: scale(1.4);
    }
    to {
        transform: scale(1);
    }
}

@keyframes pound {
    50% {
        transform: scale(1.4);
    }
    to {
        transform: scale(1);
    }
}

.myloading {
    background: rgba(255, 255, 255, 0.6);
    height: 100%;
    width: 100%;
    position: fixed;
    float: left;
    z-index: 10;
    margin-top: 0px;
    top: 0px;
}

.myloading>.loading-center {
    width: 100%;
    height: 100%;
    position: relative;
}

.myloading .loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 18px;
    width: 100px;
    margin-top: -10px;
    margin-left: -50px;
}

.myloading .ion-heart {
    display: inline-block;
    font-size: 60px;
    color: #ED6942;
    margin: -60px 30px 0 30px;
    animation: pound 2s infinite;
    -webkit-animation: pound 2s infinite;
    -moz-animation: pound 2s infinite;
    -ms-animation: pound 2s infinite;
    -o-animation: pound 2s infinite;
    transform-origin: center;
}


/*loading样式结束*/


/*gotop,gocart样式开始*/

.gotop,
.gocart {
    right: 10px;
    bottom: 20px;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    line-height: 36px;
    text-align: center;
    color: #ED6942;
    background-color: #fff;
    position: absolute;
    z-index: 9;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 1px solid #ED6942;
    font-size: 20px;
    -webkit-transform: translateZ(9px);
    -ms-transform: translateZ(9px);
    transform: translateZ(9px);
    opacity: 0.8;
    font-size: 30px;
}

.gocart {
    bottom: 70px;
}


/*gotop,gocart样式结束*/


/*输入控件样式开始*/

.number-input-container {
    height: 50px;
}

.number-input {
    width: calc(100% - 68px);
    box-shadow: none;
}

/*输入控件样式结束*/
